@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@color-background: rgba(30, 30, 30, 1);
@color-background-hover: rgba(40, 40, 40, 1);
@color-foreground: rgba(212, 212, 212, 1);

@color-background-header-bar: rgba(51, 51, 51, 1);
@color-foreground-header-bar: rgba(255, 255, 255, 1);
@color-background-status-bar: rgba(0, 122, 204, 1);
@color-foreground-status-bar: rgba(255, 255, 255, 1);

@color-boolean: rgba(86, 156, 214, 1);
@color-number: rgba(181, 206, 186, 1);
@color-string: rgba(206, 145, 120, 1);
@color-key: rgba(156, 220, 254, 1);
@color-url: rgba(206, 145, 120, 1);
@color-url-hover: rgba(78, 148, 206, 1);
@color-line-number: rgba(90, 90, 90, 1);

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Roboto Mono';
    background-color: @color-background;
    color: @color-foreground;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 28px;
}
.header {
    background-color: @color-background-header-bar;
    color: @color-foreground-header-bar;
    margin-bottom: 15px;
    
    h1 {
        margin: 10px 0px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background-color: @color-background-status-bar;
    color: @color-foreground-status-bar;
    
    a {
        color: @color-foreground-status-bar;
        &:hover {
            color: @color-foreground-status-bar;
        }
    }
}

pre {
    border: 0px;
    border-radius: 0px;
    background-color: @color-background;
    color: @color-foreground;
    
    font-family: 'Roboto Mono';
    background-color: @color-background;
    color: @color-foreground;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 28px;
}