<div class="container">
    <p><b>Hello</b>,</p>
    <p>this is simple <b>JSON</b> to <b>HTML</b> rendering JavaScript library.</p>
    <p>It is easy to customize and simple to use.</p>
    <p>Here is example:</p>
    <div class="row">
        <div class="col-md-5">
            <h4>JSON data</h4>
            <pre>{{data | json:4}}</pre>
        </div>
        <div class="col-md-7">
            <h4>Rendered JSON</h4>
            <div id="json"></div>
        </div>
    </div>
    <h4>Working on:</h4>
    <ul>
        <li>Line numbers</li>
        <li>AngularJs wrapper</li>
        <li>More & less</li>
    </ul>
</div>