<div class="container">
    <h1>myon.js</h1>
    <div>
        <p><b>Hello</b>,</p>
        <p>this is simple <b>JSON</b> to <b>HTML</b> rendering JavaScript library.</p>
        <p>It is easy to customize and simple to use.</p>
        <p>Here is example:</p>
        <div class="row">
            <div class="col-md-5">
                <h4>JSON data</h4>
                <pre>{{data | json:4}}</pre>
            </div>
            <div class="col-md-7">
                <h4>Rendered JSON</h4>
                <div id="json"></div>
            </div>
        </div>
        <h4>Working on:</h4>
        <ul>
            <li>Link hover color rgb(78, 148, 206)</li>
            <li>Searching for Monaco font alternative</li>
            <li>Email address recognition, onClick mailto</li>
            <li>Line numbers</li>
            <li>More & less</li>
            <li>Footer is not showing up, possibly bug</li>
        </ul>
    </div>
</div>